.img-container {
  width: 100vw;
  text-align: center;
  height: 4.5em;
}

img {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 15%;
  border: 2px solid #555;
  max-width: 70px;
}

.img-container h1 {
  color: #333;
}

@media (min-width: 768px) {
  .img-container {
    margin-bottom: 1.5em;
  }
}
